<?xml version="1.0" encoding="UTF-8"?>
<TablacusExplorer>
  <General>
    <Version>1.01</Version>
    <MinVersion>2020.12.30</MinVersion>
    <pubDate>Sat, 20 April 2024 00:00:00 GMT</pubDate>
    <Options>Common:0,7:0</Options>
    <Creator>zboris12</Creator>
    <URL>https://github.com/zboris12/teaddon-zgacrypto</URL>
    <License>MIT License</License>
  </General>
  <en>
    <Name>zgacrypto</Name>
    <Description>A tool to do encryption and decryption.</Description>
  </en>
  <ja>
    <Name>暗号化復号化ツール</Name>
    <Description>ファイルの暗号化、復号化およびハッシュ値計算</Description>
  </ja>
</TablacusExplorer>
